{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <span class="fa-stack fa-2xl mb-3">
        <i class="fa-solid fa-circle fa-stack-2x" style="color: #f18841;"></i>
        <i class="fa-solid fa-lock fa-stack-1x fa-inverse"></i>
    </span>
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary mt-3 bg-orange btn-outline-orange">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}
