@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
body, html {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 !important;
}

container {
  height: 100%;
}

a {
  color: black;
  text-decoration: none !important;
}

.primary {
  /*background-color: #f0780e;*/
  background-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
}

.bg-orange {
  background-color: #f18841;
  color: white !important;
}

.btn-outline-orange:hover {
  border: #f18841 solid 1px;
  color: #f18841 !important;
  background-color: white;
}

.bg-green {
  background-color: mediumseagreen;
  color: white;
}

.btn-outline-green:hover {
  border: mediumseagreen solid 1px;
  color: mediumseagreen !important;
  background-color: white;
}

.bg-red {
  background-color: red;
  color: white;
}

.device-active {
  color: mediumseagreen;
}

.device-inactive {
  color: crimson;
}

.header, .footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.header {
  padding: 2em;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.header .navbar-brand {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.header .navbar-link {
  text-transform: uppercase;
}

.navbar {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
}
.navbar .nav-link {
  text-transform: uppercase;
  margin: 0 1em 0 1em;
  color: white;
}
.navbar .nav-link:hover {
  border-bottom: solid white 1px;
  box-shadow: 0px 10px 13px -7px #000000, 0px -2px 15px 5px rgba(0, 0, 0, 0);
}
.navbar #logo {
  height: 15px !important;
}

.navbar-logo {
  height: 100%;
}

.sidenav-logo {
  padding: 0 1em;
  width: 100%;
}

#screenDevice {
  visibility: hidden;
  display: none;
}

/*
#testAcces {
    visibility: hidden;
    display: none;
}
*/
#sn {
  visibility: hidden;
  display: none;
}

.accordion-collapse {
  height: 20em;
}

button.accordionButton {
  color: white !important;
}

#versionForm:first-child {
  width: 50%;
  justify-content: right;
}

td {
  vertical-align: middle;
}

.test_zone_0 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
}

#softwareSearch {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}/*# sourceMappingURL=styles.css.map */