@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
//@import url('https://fonts.cdnfonts.com/css/gotham');

$color1 : #f18841;
$color2 : #f1874144;
$color3 : #ffffff;
$color4 : #000000;
$color5 : #100c08;
$color6 : #acabab;
$color7 : #5a5a5a;

$color-shadow: #141414;
$color-white: #212121;
$orange-shadow : 0px 0px 0px 5px #f18741a0;
$hover-shadow-dark : 0px 0px 50px 0px #000000;
$hover-shadow-light : 0px 0px 20px 0px #0000007d;

@mixin color-mode($mode: light, $root: false) {
    @if $color-mode-type == "media-query" {
      @if $root == true {
        @media (prefers-color-scheme: $mode) {
          :root {
            @content;
          }
        }
      } @else {
        @media (prefers-color-scheme: $mode) {
          @content;
        }
      }
    } @else {
      [data-bs-theme="#{$mode}"] {
        @content;
      }
    }
  }

  :root, [data-bs-theme="light"] {
    --bs-secondary-bg: #e9ecef;
    --bs-tertiary-bg: #2b3035;
    .card {
        border: var(--bs-card-border-width) solid var(--bs-primary-border-subtle);
    }

    .form-control {
        background-color: var(--bs-gray-200);
        color: var(--bs-body-color);
        &:focus {
            border-color: var(--bs-body-color);
            box-shadow: $orange-shadow;
        }
    }

    --box-shadow:  5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;

    .modal-content {
        max-width: 70em;
    }
    .modal-btn {
        --bs-btn-color: #000000;
        //--bs-btn-bg:var(--bs-tertiary-bg);
        box-shadow:  var(--box-shadow);
        background: #e0e0e0;
    }
    --bs-link-color: var(--bs-body-color);
    --bs-link-hover-color: $color1;
    .btn-login {
        font-weight: bold;
        box-shadow: 2px 2px 5px #ccc;
        &:hover {
            box-shadow: -2px -2px 5px $color6, 2px 2px 5px $color7;
        }
        &:active {
            box-shadow: inset 1px 1px 2px $color7, inset -1px -1px 2px $color6;
        }
    }
    .grey-square {
        background-color: #e0e0e0;
    }
    .card-index {
        &:hover {
            box-shadow: $hover-shadow-light;
            h6 {
                color: $color1;
            }
        }
    }
    .form-select {
        --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }
  }

  [data-bs-theme="dark"] {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222,226,230;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33,37,41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255,255,255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222,226,230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52,58,64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222,226,230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43,48,53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110,168,254;
    --bs-link-hover-color-rgb: 139,185,254;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
    //--bs-modal-bg: #343a40 !important;
    --bs-link-color: var(--bs-body-color);
        --bs-link-hover-color: $color1;
        .btn {
            --bs-btn-color: #FFFFFF;
        }
        .card {
            border: var(--bs-card-border-width) solid var(--bs-light-border-subtle);
        }

        .form-control {
            background-color: var(--bs-secondary-bg);
            color: var(--bs-body-color);
            &:focus {
                //border-color: none;
                box-shadow: none;
            }
        }
    --box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    .modal-btn {
        color: #feeeee;
        font-weight: bold;
        box-shadow: var(--box-shadow);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-weight: 600;
        &:hover {
            box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
        }
        &:active {
            box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
        }
        background: var(--bs-secondary);
        text-shadow: 1px 1px 0 $color-white;
    }

    .btn-login {
        font-weight: bold;
        //box-shadow: 2px 2px 5px #ccc;
        box-shadow: var(--box-shadow);
        &:hover {
            box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
        }
        &:active {
            box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
        }
    }

    .grey-square {
        background-color: #4d4d4d;
    }

    .card-index {
        &:hover {
            box-shadow: $hover-shadow-dark;
        }
    }

    .form-select {
        --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
}

.form-select {
    background-image: var(--bs-form-select-bg-img)
}

.box-shadow {
    box-shadow: var(--box-shadow);
  }
  
.bg-orange {
    background-color: $color1;
    color: white !important;
}

.bg-green {
    background-color: mediumseagreen;
    color: white;
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-black {
    background-color: #000000;
}

html {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    letter-spacing: 0px;
    font-size:small;
    font-style: normal;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.container {
    padding-top: 1em;
    padding-bottom: 1em;
}

h1, h2 {
    font-weight: bold;
    font-size:xx-large;
    font-style: normal;
    letter-spacing: normal;
}

main {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    color: var(--bs-body-color);
    text-decoration: none !important;
}

.primary {
    background-color: transparent;

}

.btn-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-outline-orange {
    background-color: $color1;
    color: white !important;

    &:hover {
        border: $color1 solid 1px;
        color: $color1 !important;
        background-color: var(--bs-secondary-bg);
    }
}

.btn-orange {
    &:hover {
        background-color: #f18741d3;
    }
}

.btn-shadow {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5); 
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.btn-outline-green {
    &:hover {
        border: mediumseagreen solid 1px;
        color: mediumseagreen !important;
        background-color: white;
    }
}

.device-active {
    color: mediumseagreen;
}
.device-inactive {
    color:crimson;
}

.footer {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background-color: #000000c8;
}

.btn-icon {
    width: 3em;
    display: flex;
    justify-content: center;
}
  
.header {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 1em;
    justify-content: space-between;
    height: fit-content;
    .navbar-brand {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    .navbar-link {
        text-transform: uppercase;
    }
}

@media (max-width: 500px) { 
    .footer,.navbar-header {
        display: none !important;
    }
}


@media (min-width: 500px) { 
    .navbar-phone {
        display: none !important;
    }
}

.navbar-toggler {
    &:focus {
        box-shadow: none;
    }
}

.navbar-header {
    padding-left: 1em;
    padding-right: 1em;
    font-size: medium;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .nav-link {
        letter-spacing: normal;
        color: white;
        &:hover {
            background-color: transparent;
            span {
                z-index: 99;
                position: relative;
            }
        }
        &:active {
            color: #ffffff;
            border-bottom: solid white 2px;
        }
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                border-radius: 6px;
                background-color: var(--bs-tertiary-bg);
                height: 50%;
                width: 100%;
                left: 0;
                right: 0;
                opacity: 0.5;
            }
        }
    }

    #logo {
        height: 15px !important;
        //object-fit: cover
    }
    #navbar-logo{
        transition: 0.4s;
    }
    .dropdown-menu {
        position:absolute;
    }
}

.navbar-nav {
    --bs-nav-link-padding-y: 0;
}

.navbar-logo {
    height: 100%;
}

.sidenav-logo {
    padding: 0 1em;
    width: 100%;
}

#sn {
    visibility: hidden;
    display: none;
}


.accordion-collapse {
    height: 20em;
}

button.accordionButton {
    color: white !important;
}

#versionForm {
    &:first-child {
        width: 50%;
        justify-content: right;
    }
}

td, th {
    vertical-align: middle;
}

.test_zone_0 {
    width: fit-content;
    vertical-align:middle;
}

#softwareSearch {
    //height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

  .floatingBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
  }

  /*
  #filter {
    display: block;
    position: sticky;
    top: 80px;
}
*/

#filter {
    div {
        width: fit-content;
    }
}

.sticky-scroll {
    //display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    //top: 0;
}

.login {
    //background-color:#dcdcdc;
    //color: #686868;
    border-radius: 5px;
    //width: fit-content;
    width: 100%;
    height: fit-content;
    //-webkit-box-shadow: 5px 5px 15px 5px #acabab; 
    //box-shadow: 5px 5px 15px 5px #acabab;
    font-weight: 500;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-between;
    //border: none;
    //box-shadow: 5px 5px 15px 5px #acabab;
    //box-shadow: 0px 0px 2px 2px #acabab81;
    //rgba(0,0,0,0.4)
    .card-body {
        font-size: small;
    }
    //box-shadow: 0px 0px 2px 2px #acabab81;
    border-radius: 5px;
}

.carousel-control-next, .carousel-control-prev {
    position: relative;
}

#uploadZone {
    position: relative;
}

  .card-index {
    width: 25em;
    height: 15em;
    border: var(--bs-body-color);
    a {
     text-decoration: none;
    }
    word-wrap: break-word;
}

.icon-flags {
    width: 1em;
}

.icon-interactive {
    &:hover {
        color: $color1;
    }
}

.icon {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
}

.example-wrapper { 
    background-color:#f18841;
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif; 
}
.example-wrapper code { 
    background: #F5F5F5;
    padding: 2px 6px; 
}

.comment_update_input, .actualVersion_update_input, .comment_input {
    min-width: 10em !important;
    width: 100%;
    //background-color: #ffffff !important;
    &:active {
        //background-color: #ffffff !important;
        background-color:#f1874198 !important;
    }
    &:focus {
        //background-color: #ffffff !important;
        background-color:#f1874198 !important;
    }
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
}

/* PASSWORD CHECK */
/*
.strong-password {
    border: mediumseagreen solid 1px;
    color: mediumseagreen !important;
    background-color: white;
}
*/

.form-control-register {
    &:focus{
        box-shadow: none;
        border: 1px solid #ced4da;
    }
}

.btn-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.table-header-first {
    background-color: #181717;
    color: #F5F5F5;
}

.table-header-second {
    background-color: #767171;
    color: #F5F5F5;
}

.modal {
    --bs-modal-bg: var(--bs-secondary-bg);
}

.modal-dialogue-device {
    --bs-modal-width: 100%;
    //font-size: medium;
}

.card {
    --bs-card-bg: var(--bs-secondary-bg);
}

.accordion-item {
    color: var(--bs-table-color);
    background-color: var(--bs-body-bg);
}

.log_percentage {
    border-radius: 5px;
    //background-color: #084298;
    width: 1em;
    height: 0.25em;
    margin-top: 0.05em;
    margin-bottom: 0.05em;
}

.log_percentage_inactive {
    color: #36383E
}

.log_percentage_cet_soft {
    background-color: #FF5224;
    -webkit-box-shadow: 0px 0px 35px 0px #FF52244e; 
    box-shadow: 0px 0px 35px 0px #FF52244e;
}

.log_percentage_CET {
    background-color: #fe8c22cc;
    -webkit-box-shadow: 0px 0px 35px 0px #fe8c224e; 
    box-shadow: 0px 0px 35px 0px #FE8D224e;
}

.log_percentage_RET {
    background-color: #391fff;
    -webkit-box-shadow: 0px 0px 35px 0px #3A1fff4e; 
    box-shadow: 0px 0px 35px 0px #3A1FFF4e;
}

.log_percentage_HI-TENS {
    background-color: #00fff7a2;
    -webkit-box-shadow: 0px 0px 35px 0px #00FFF84e; 
    box-shadow: 0px 0px 35px 0px #00FFF84e;
}
.log_percentage_HI-EMS {
    background-color: #6EB0FFa2;
    -webkit-box-shadow: 0px 0px 35px 0px #6EB0FF4e; 
    box-shadow: 0px 0px 35px 0px #6EB0FF4e;
}

.log_percentage_mode_inactive {
    background-color: #36383E;
}

.log_percentage_select {
    width: fit-content;
    height: fit-content;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-radius: 30px;
}

.log_percentage_number {
    font-size: 1.5em;
}

.modal-device {
    --bs-modal-bg: var(--bs-body-bg);
    //--bs-modal-bg: #e0e0e0;
    color: var(--bs-light-text-emphasis);
}

.modal-device-mode {
    background-color: var(--bs-secondary-bg);
    border-radius: 5px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
    width: fit-content;
}

.table-device-mode {
    background-color: var(--bs-secondary-bg);
}

.modal-device-mode-item {
    padding-top: 1em;
    padding-bottom: 1em;
}

.modal-device-hr {
    color: white;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.text-shadow {
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 2px 2px 2px rgba(206,89,55,0), 2px 2px 2px rgba(0,0,0,0);
}

.grey-square {
    border-radius: 5px;
    padding: 1em;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
    width: fit-content;
    height: fit-content;
    padding: 1em;
}

.table {
    background-color: var(--bs-body-bg);
    border-radius: 5px;
}

#navbarToggler {
    color: var(--bs-body-color) !important;
}

#navbarPhonePage {
    justify-content: right;
}

.registration-form {
    .input-group{
        div {
            width: 100%;
        }
    }
}

.protoChart {
    min-width: 15em;
}

/* Filter menus */
.filterDropdown-content {
    height: 10em;
    overflow: scroll;
    //margin-left: 5px;
    .form-check {
        display: flex;
        flex-wrap: nowrap;
        justify-content:left;
        width: 100% !important;
    }
    .form-check-input {
        margin-right: 1.5em;
    }
}
/* Show the dropdown menu on hover */
.navDropdown:hover .navDropdown-content {
    display: block;
}
.filterDropdown:hover .filterDropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.filterDropdown:hover .filterDropbtn {background-color: $color1;}