@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
html {
  width: 100%;
  min-height: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 !important;
  background-color: #ffffff;
}

h1, h2 {
  font-weight: bold;
  font-size: xx-large;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none !important;
}

.primary {
  /*background-color: #f0780e;*/
  background-color: transparent;
}

.bg-orange {
  background-color: #f18841;
  color: white !important;
}

.btn-outline-orange:hover {
  border: #f18841 solid 1px;
  color: #f18841 !important;
  background-color: white;
}

.bg-green {
  background-color: mediumseagreen;
  color: white;
}

.btn-outline-green:hover {
  border: mediumseagreen solid 1px;
  color: mediumseagreen !important;
  background-color: white;
}

.bg-red {
  background-color: red;
  color: white;
}

.device-active {
  color: mediumseagreen;
}

.device-inactive {
  color: crimson;
}

.footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

/*
.custom-class {
    display: none;
  }
  @include media-breakpoint-up(sm) {

  }
*/
.header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 1em;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  height: fit-content;
}
.header .navbar-brand {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.header .navbar-link {
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .header {
    display: none !important;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navbar .nav-link {
  text-transform: uppercase;
  font-size: medium;
  font-style: normal;
  letter-spacing: 2px;
  margin: 0 1em 0 1em;
  color: white;
}
.navbar .nav-link:hover {
  border-bottom: solid white 1px;
}
.navbar .nav-link:active {
  border-bottom: solid white 1px;
}
.navbar #logo {
  height: 15px !important;
}

.navbar-logo {
  height: 100%;
}

.sidenav-logo {
  padding: 0 1em;
  width: 100%;
}

#screenDevice {
  visibility: hidden;
  display: none;
}

/*
#testAcces {
    visibility: hidden;
    display: none;
}
*/
#sn {
  visibility: hidden;
  display: none;
}

.accordion-collapse {
  height: 20em;
}

button.accordionButton {
  color: white !important;
}

#versionForm:first-child {
  width: 50%;
  justify-content: right;
}

td {
  vertical-align: middle;
}

.test_zone_0 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
}

#softwareSearch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

.floatingBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
}

#filter {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.sticky-scroll {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.login {
  border-radius: 5px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 5px 5px 15px 5px #acabab;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 2px 2px rgba(172, 171, 171, 0.5058823529);
}

#uploadZone {
  position: relative;
  /*
  .active{ 
      border: 4px solid #fff;
  }
  */
}

#uploadZone:before {
  display: flex;
  position: absolute;
  font-family: "FontAwesome";
  font-size: 10em;
  color: rgba(172, 171, 171, 0.5058823529);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 10px;
  content: "\f0ee";
  width: 100%;
  height: 100%;
  z-index: -1;
}/*# sourceMappingURL=styles.css.map */