@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
$color1 : #f18841;
$color2 : #f18741c4;

html {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    width: 100%;
    //height: fit-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 !important;
}

a {
    color: black;
    text-decoration: none !important;
}
.primary {
    /*background-color: #f0780e;*/
    background-color: transparent;

}

.bg-orange {
    background-color: $color1;
    color: white !important;
}

.btn-outline-orange {
    &:hover {

        border: $color1 solid 1px;
        color: $color1 !important;
        background-color: white;
    }
}
.bg-green {
    background-color: mediumseagreen;
    color: white;
}

.btn-outline-green {
    &:hover {

        border: mediumseagreen solid 1px;
        color: mediumseagreen !important;
        background-color: white;
    }
}

.bg-red {
    background-color: red;
    color: white;
}

.device-active {
    color: mediumseagreen;
}
.device-inactive {
    color:crimson;
}

.footer {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.header {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 1em;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    height: fit-content;
    .navbar-brand {
        //flex-basis: 70%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    .navbar-link {
        text-transform: uppercase;
    }
}
.navbar {
    //padding: 2em;
    font-family: 'Open Sans', sans-serif;
    //color: black !important;
    display: flex;
    justify-content: space-between;
    .nav-link {
        text-transform: uppercase;
        margin: 0 1em 0 1em;
        color: white;
        //border-bottom: solid white 1px;
        &:hover {
            //color: #f18841;
            //background-color: none;
            border-bottom: solid white 1px;
            //-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -2px 15px 5px rgba(0,0,0,0); 
            //box-shadow: 0px 10px 13px -7px #000000, 0px -2px 15px 5px rgba(0,0,0,0);
        }
        
    }
    #logo {
        height: 15px !important;
        //object-fit: cover
    }
}

.navbar-logo {
    height: 100%;
}

.sidenav-logo {
    padding: 0 1em;
    width: 100%;
}

#screenDevice {
    visibility: hidden;
    display: none;
}
/*
#testAcces {
    visibility: hidden;
    display: none;
}
*/
#sn {
    visibility: hidden;
    display: none;
}


.accordion-collapse {
    height: 20em;
}

button.accordionButton {
    color: white !important;
}

#versionForm {
    &:first-child {
        width: 50%;
        justify-content: right;
    }
}

td {
    vertical-align: middle;
}

.test_zone_0 {
    width: fit-content;
    vertical-align:middle;
}

#softwareSearch {
    //height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

#floatingBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
  }

  .floatingBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
  }

  #filter {
    display: block;
    position: sticky;
    top: 80px;
}

.sticky-scroll {
    display: block;
    position: sticky;
    top: 80px;
}
