<div class="modal-body d-flex flex-column justify-content-between h-100">
    <div class="d-flex flex-column align-items-center">
        <span class="h5">{{device.sn}}</span>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">

            <div class="carousel-item active">
            <div class="d-flex justify-content-between my-2">
                <button class="carousel-control-next btn btn-outline-orange" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
                <h6>12 Septembre 2023</h6>
                <button class="carousel-control-next btn btn-outline-orange" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
            {% include "device/_proto1.html.twig" %}
            </div>
            <div class="carousel-item">
            <div class="d-flex justify-content-between my-2">
            <button class="carousel-control-next btn btn-outline-orange" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <h6>13 Septembre 2023</h6>
            <button class="carousel-control-next btn btn-outline-orange" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <i class="fa-solid fa-angle-right"></i>
            </button>
            </div>
            {% include "device/_proto2.html.twig" %}
            </div>
            <div class="carousel-item">
            <div class="d-flex justify-content-between my-2">
            <button class="carousel-control-next btn btn-outline-orange" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <h6>14 Septembre 2023</h6>
            <button class="carousel-control-next btn btn-outline-orange" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <i class="fa-solid fa-angle-right"></i>
            </button>
            </div>
            {% include "device/_proto3.html.twig" %}
            </div>
        </div>
    </div>
</div>