
<div class="modal-body row" style="height: 15em;">

    <div class="col-3 d-flex flex-column justify-content-center align-items-center" style="height:100%;">
        {#
        <select name="" id="">
            <option value="">Error</option>
            <option value="">248</option>
        </select>
        <select name="" id="">
            <option value="">Version</option>
            <option value="">3.11</option>
        </select>
        <select name="" id="">
            <option value="">Date</option>
            <option value="">1er Janvier 2012</option>
        </select>
        #}
        <button class="btn btn-outline-orange mb-1" style="width: fit-content;" onclick="tableToCSV()" type="button">Download Errors</button>
    </div>

    <div class="col h-100" style="overflow: scroll;">
        <table class="table table-striped text-center" border="1">
            <thead>
                <tr class="tr_error">
                <th>Error</th>
                <th>Version</th>
                <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for error in device.errors|reverse %}
                <tr class="tr_error">
                <td>{{error.error}}</td>
                <td>{{error.version}}</td>
                {#<td>{{error.date|format_datetime('short', 'short')}}</td>#}
                <td>{{error.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</div>