<div class="modal-body d-flex flex-column justify-content-between h-100">
    <div class="d-flex flex-column align-items-center">
        <span class="h5">WIN0C_TEST</span>
        <select class="h6">
        <option value="">12 Septembre 2023</option>
        <option value="">2 Janvier 2013</option>
        </select>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 row p-5 d-flex justify-content-between">
            <div class="col text-center d-flex flex-column justify-content-between align-items-center modal-device-mode">
                <div class="px-1 modal-device-mode-item h6 mb-0 text-light-emphasis">CET</div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item text-light-emphasis badge badge-light">DEEP</div>
                <hr class="hr modal-device-hr" />
                <div class="flex-grow-1 d-flex flex-column justify-content-around align-items-center px-1 modal-device-mode-item">
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep log_percentage_select d-flex align-items-center justify-content-center"><span class="">40</span><span>%</span></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                <div class="log_percentage log_percentage_cet_deep"></div>
                </div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item">2:20</div>
            </div>
            <div class="col text-center d-flex flex-column justify-content-between align-items-center modal-device-mode">
                <div class="px-1 modal-device-mode-item h6 mb-0 text-light-emphasis">RET</div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item text-light-emphasis badge badge-light">MED</div>
                <hr class="hr modal-device-hr" />
                <div class="flex-grow-1 d-flex flex-column justify-content-around align-items-center px-1 modal-device-mode-item">
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret log_percentage_select d-flex align-items-center justify-content-center"><span class="">40</span><span>%</span></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                </div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item">13:25</div>
            </div>
            <div class="col text-nowrap text-center d-flex flex-column justify-content-between align-items-center modal-device-mode">
                <div class="px-1 modal-device-mode-item h6 mb-0 text-light-emphasis">HI-TENS</div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item text-light-emphasis badge badge-light">DYN</div>
                <hr class="hr modal-device-hr" />
                <div class="flex-grow-1 d-flex flex-column justify-content-around align-items-center px-1 modal-device-mode-item">
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret log_percentage_select d-flex align-items-center justify-content-center"><span class="">25</span><span>Hz</span></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                </div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item">13:25</div>
            </div>
            <div class="col text-nowrap text-center d-flex flex-column justify-content-between align-items-center modal-device-mode">
                <div class="px-1 modal-device-mode-item h6 mb-0 text-light-emphasis">HI-EMS</div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item text-light-emphasis badge badge-light">FOCAL</div>
                <hr class="hr modal-device-hr" />
                <div class="flex-grow-1 d-flex flex-column justify-content-around align-items-center px-1 modal-device-mode-item">
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret log_percentage_select d-flex align-items-center justify-content-center"><span class="">40</span><span>%</span></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                </div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item">2:00</div>
            </div>
            <div class="col text-center d-flex flex-column justify-content-between align-items-center modal-device-mode">
                <div class="px-1 modal-device-mode-item h6 mb-0 text-light-emphasis log_percentage_inactive">MIX</div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item text-light-emphasis log_percentage_inactive badge badge-light">BOOST</div>
                <hr class="hr modal-device-hr" />
                <div class="flex-grow-1 d-flex flex-column justify-content-around align-items-center px-1 modal-device-mode-item">
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret log_percentage_select d-flex align-items-center justify-content-center log_percentage_inactive"><span class="">40</span><span>%</span></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                <div class="log_percentage log_percentage_ret"></div>
                </div>
                <hr class="hr modal-device-hr" />
                <div class="px-1 modal-device-mode-item log_percentage_inactive">00.00</div>
            </div>
        </div>
        
        <div class="col-lg-6 p-5 d-flex flex-column">
            <canvas id="lineChart"></canvas>
            <canvas id="lineChart3"></canvas>
        </div>
        
    </div>
    <hr class="hr modal-device-hr" />
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 p-5 d-flex flex-column align-items-center justify-content-center">
        <div class="text-center d-flex flex-column justify-content-center align-items-center modal-device-mode p-2">
            <span class="h5">Erreur 428</span>
            <span>Version 3.11</span>
        </div>
        </div>
        
        <div class="col-lg-9 p-5">
        <canvas id="lineChart2"></canvas>
        </div>
        
    </div>
</div>