


    <ul class="nav nav-pills flex-column mb-auto">
        {#
        <li class="nav-link">
            {% include "sn/_filter.html.twig" %}
        </li>
        <hr class="w-50">
        #}
        <li>
            <a href="#dashboard" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Dashboard
            </a>
        </li>
        <li>
            <a href="#table" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Table
            </a>
        </li>
        <hr class="w-50">
        <li class="nav-link">
            <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="modeWeek" value="option1" checked>
            <label class="form-check-label" for="modeWeek">
                per week
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="modeDay" value="option2">
            <label class="form-check-label" for="modeDay">
                per day
            </label>
            </div>
        </li>
        <li>
        {{form(searchForm)}}
        </li>
    </ul>
