<!--
{{ form_start(form, {attr: { id: 'filter', class: 'sticky-scroll'}}) }}
    <div class="input-group flex-nowrap">
    <span class="input-group-text mb-3" id="addon-wrapping" style='border-right-style: none; border-top-right-radius: 0; border-bottom-right-radius: 0; background-color: white;'>
    <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    {{ form_row(form.q, {attr: { style: 'border-left-style: none; border-top-left-radius: 0; border-bottom-left-radius: 0;'}}) }}
    </div>
    <button type="submit" class="btn bg-orange btn-outline-orange">Search</button>
{{ form_end(form) }}
-->