 <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#errorDashboard" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Dashboard
            </a>
        </li>
        <li>
            <a href="#errorTable" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Table
            </a>
        </li>
        <hr class="w-50">
        <li class="nav-link">
            {% include "error/_filter.html.twig" %}
        </li>
    </ul>
  