{# ===== DELETE MODALS ===== #}
{#{% for software in family.softwares %}#}
    <div class="modal fade" id="modal_delete_{{soft.id}}" data-ax="modal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h5>{{'Delete software'|trans}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <a href="{{path('software_delete', {'deviceFamily': family.id, 'id': soft.id})}}" class="btn btn-outline-danger shadow-1 rounded-1 small">{{'Validate'|trans}}</a>
                </div>
            </div>
        </div>
    </div>

    {#             
    <div class="modal shadow-1 white falling" id="modal-edit" data-ax="modal">
        <div class="modal-header">Edit software</div>

        <div class="divider"></div>

        <div class="modal-content">

        </div>

        <div class="divider"></div>

        <div class="modal-footer">
            <div><a href="" class="btn red shadow-1 rounded-1 small">Validate</a></div>
            <button data-target="modal-edit" class="ml-auto btn shadow-1 rounded-1 small modal-trigger">Close</button>
        </div>
    </div> #}
{#{% endfor %}#}