    <!-- ===== UPLOAD MODALS ===== -->
    <div class="modal shadow-1 white falling overflow-scroll p-4" id="modal_upload_soft" data-ax="modal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="text-center w-100 align-middle">Software Upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="divider"></div>
                <div class="divider"></div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>