{% extends 'base.html.twig' %}

{% block title %}{{'Winback Interface | SN'|trans}}{% endblock %}

{% block content %}
<div class="d-flex flex-column">
    <h4>Protocole 1 - 15:15 / 15:30</h4>
    <div class="row d-flex justify-content-left align-items-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-device-mode text-center ">
                    <tbody>
                        <tr>
                            <td rowspan="2"><span class="h5">Step 1</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">50%</td>
                            <td class="h6">5'</td>
                        </tr>
                        <tr>
                            <td class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">5'</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td rowspan="3"><span class="h5">Step 2</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">50%</td>
                            <td class="h6">10'</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">10'</td>
                        </tr>
                        <tr>
                            <td><span class="log_percentage log_percentage_hi log_percentage_select text-light-emphasis h6 text-nowrap">HI-TENS</span></td>
                            <td>
                            <span class="text-light-emphasis badge badge-light h6">DYN</span>
                            </td>
                            <td class="h6">2%</td>
                            <td class="h6">10'</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<hr class="hr modal-device-hr mb-5" />
<div class="d-flex flex-column">
    <h4>Protocole 2 - 17:00 / 17:07</h4>
    <div class="row d-flex justify-content-left align-items-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-device-mode text-center ">
                    <tbody>
                        <tr>
                            <td rowspan="3"><span class="h5">Step 1</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">4'</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">50%</td>
                            <td class="h6">4'</td>
                        </tr>
                        <tr>
                            <td><span class="log_percentage log_percentage_hi log_percentage_select text-light-emphasis h6 text-nowrap">HI-TENS</span></td>
                            <td><span class="text-light-emphasis badge badge-light h6">CHRONIC</span></td>
                            <td class="h6">2%</td>
                            <td class="h6">4'</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td rowspan="4"><span class="h5">Step 2</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">3'</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">50%</td>
                            <td class="h6">3'</td>
                        </tr>
                        <tr>
                            <td><span class="log_percentage log_percentage_hi log_percentage_select text-light-emphasis h6 text-nowrap">HI-TENS</span></td>
                            <td><span class="text-light-emphasis badge badge-light h6">CHRONIC</span></td>
                            <td class="h6">2%</td>
                            <td class="h6">3'</td>
                        </tr>
                        <tr>
                            <td><span class="log_percentage log_percentage_ems log_percentage_select text-light-emphasis h6">HI-EMS</span></td>
                            <td><span class="text-light-emphasis badge badge-light h6">RADIAL</span></td>
                            <td class="h6">10%</td>
                            <td class="h6">3'</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr class="hr modal-device-hr mb-5" />
<div class="d-flex flex-column">
    <h4>Protocole 3 - 17:43 / 17:49</h4>
    <div class="row d-flex justify-content-left align-items-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-device-mode text-center ">
                    <tbody>
                        <tr>
                            <td rowspan="3"><span class="h5">Step 1</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">6'</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">50%</td>
                            <td class="h6">6'</td>
                        </tr>
                        <tr>
                            <td><span class="log_percentage log_percentage_hi log_percentage_select text-light-emphasis h6 text-nowrap">HI-TENS</span></td>
                            <td><span class="text-light-emphasis badge badge-light h6">CHRONIC</span></td>
                            <td class="h6">2%</td>
                            <td class="h6">6'</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr class="hr modal-device-hr mb-5" />
<div class="d-flex flex-column">
    <h4>Protocole 4 - 18:04 / 18:09</h4>
    <div class="row d-flex justify-content-left align-items-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-device-mode text-center ">
                    <tbody>
                        <tr>
                            <td rowspan="2"><span class="h5">Step 1</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">DYN</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">50%</td>
                            <td class="h6">5'</td>
                        </tr>
                        <tr>
                            <td class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">5'</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr class="hr modal-device-hr mb-5" />
<div class="d-flex flex-column">
    <h4>Protocole 5 - 18:20 / 18:25</h4>
    <div class="row d-flex justify-content-left align-items-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-device-mode text-center ">
                    <tbody>
                        <tr>
                            <td rowspan="2"><span class="h5">Step 1</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">DYN</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">60%</td>
                            <td class="h6">5'</td>
                        </tr>
                        <tr>
                            <td class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">5'</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr class="hr modal-device-hr mb-5" />
<div class="d-flex flex-column">
    <h4>Protocole 6 - 18:39 / 18:46</h4>
    <div class="row d-flex justify-content-left align-items-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-device-mode text-center ">
                    <tbody>
                        <tr>
                            <td rowspan="2"><span class="h5">Step 1</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">DYN</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">70%</td>
                            <td class="h6">6'</td>
                        </tr>
                        <tr>
                            <td class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">6'</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr class="hr modal-device-hr mb-5" />
<div class="d-flex flex-column">
    <h4>Protocole 7 - 18:59 / 19:04</h4>
    <div class="row d-flex justify-content-left align-items-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-device-mode text-center ">
                    <tbody>
                        <tr>
                            <td rowspan="2"><span class="h5">Step 1</span></td>
                            <td class="h6">Way 1</td>
                            <td><span class="log_percentage log_percentage_cet_deep log_percentage_select text-light-emphasis h6">CET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">DYN</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">60%</td>
                            <td class="h6">5'</td>
                        </tr>
                        <tr>
                            <td class="h6">Way 2</td>
                            <td><span class="log_percentage log_percentage_ret log_percentage_select text-light-emphasis h6">RET</span></td>
                            <td class="d-flex flex-column">
                            <span class="text-light-emphasis badge badge-light h6 mb-0">SOFT</span>
                            <span class="text-light-emphasis badge badge-light h6 mb-0">MEDIUM</span>
                            </td>
                            <td class="h6">10%</td>
                            <td class="h6">5'</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/protocol.js')}}"></script>
{% endblock %}