


    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-link">
            {% include "sn/_filter.html.twig" %}
        </li>
        <hr class="w-50">
        <li>
            <a href="#snTable" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Table
            </a>
        </li>
        <li>
            <a href="#snDashboard" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Dashboard
            </a>
        </li>
    </ul>
  