{% extends 'base.html.twig' %}

{% block title %}{{'error 404'|trans}}{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-between align-items-center">
<h1>404</h1>
<div class="lead">Page not found</div>
Oops ! The page you are looking for does not exist.
<div>
Try to search
<input type="search" name="" id="" placeholder="something something">
</div>

<button>Back to homepage</button>
<div style="background-color: #a6a6a6; border-radius: 50%">
<img src="{{asset('img/plot.png')}}" alt="Logo Footer" width="100em" height="auto">
</div>

--> background image - 404 error
</div>



{% endblock %}